n8n_nodes_IA/wardaropa_Scrap_and_post.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "2896ac5a-88f9-4b56-868c-87448e182f2d",
      "name": "Cada dia 8AM1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -928
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// 1. Obtener la memoria estática del workflow (persiste entre ejecuciones)\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.enlacesProcesados) {\n  staticData.enlacesProcesados = [];\n}\n\n// 2. Set para deduplicar noticias repetidas en este mismo momento exacto\nconst seenInExecution = new Set();\n\nfor (const item of items) {\n  const title = (item.json.title || '').trim();\n  const link = (item.json.link || '').trim();\n  const key = link || title;\n\n  if (!key) continue;\n\n  // 3. Si la noticia ya se guardó hoy, ayer, o hace una semana, la ignoramos\n  if (staticData.enlacesProcesados.includes(key) || seenInExecution.has(key)) {\n    continue;\n  }\n\n  // 4. Si es nueva, la registramos para el futuro\n  seenInExecution.add(key);\n  staticData.enlacesProcesados.push(key);\n\n  results.push({\n    json: {\n      titulo: title,\n      enlace: link,\n      descripcion: (item.json.contentSnippet || item.json.description || '').substring(0, 500),\n      fuente: item.json.creator || item.json['dc:creator'] || 'Desconocido',\n      fecha_publicacion: item.json.pubDate || item.json.isoDate || new Date().toISOString(),\n      fecha_ingesta: new Date().toISOString(),\n      estado: 'nueva',\n      puntuacion: ''\n    }\n  });\n}\n\n// 5. Limpieza automática: guardamos solo los últimos 3000 enlaces para no saturar la memoria de n8n\nif (staticData.enlacesProcesados.length > 3000) {\n  staticData.enlacesProcesados = staticData.enlacesProcesados.slice(-3000);\n}\n\nreturn results;"
      },
      "id": "e857a032-ffb6-435f-a6fc-6ed93a67f21a",
      "name": "Normalizar y Deduplicar1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -1008
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew",
          "mode": "list",
          "cachedResultName": "wardaropa ECV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Noticias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YjwEn394oFFRX-BAJYJejDwIt1paUyjNKHgJ4XOC_k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "titulo": "={{ $json.titulo }}",
            "enlace": "={{ $json.enlace }}",
            "descripcion": "={{ $json.descripcion }}",
            "fuente": "={{ $json.fuente }}",
            "fecha_publicacion": "={{ $json.fecha_publicacion }}",
            "fecha_ingesta": "={{ $json.fecha_ingesta }}",
            "estado": "={{ $json.estado }}",
            "puntuacion": "={{ $json.puntuacion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enlace",
              "displayName": "enlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_publicacion",
              "displayName": "fecha_publicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ingesta",
              "displayName": "fecha_ingesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "puntuacion",
              "displayName": "puntuacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "puntuacion_str",
              "displayName": "puntuacion_str",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d5a72008-2243-4a72-80f8-7a1d151feeaa",
      "name": "Guardar en Noticias1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        80,
        -1008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYdByuwpHiNH0YRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hypebeast.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -432
      ],
      "id": "2679f903-9256-4057-878c-3ee985ea36d5",
      "name": "yahoo finance"
    },
    {
      "parameters": {
        "url": "https://www.vogue.es/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -896
      ],
      "id": "aaa3d73c-1b68-4aff-aeaf-7487422611e4",
      "name": "vogue"
    },
    {
      "parameters": {
        "url": "https://www.elle.com/es/rss/all.xml",
        "options": {}
      },
      "id": "02c698a0-8754-43cd-9076-9a1ad564ed04",
      "name": "elle",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -672,
        -1184
      ]
    },
    {
      "parameters": {
        "url": "https://www.harpersbazaar.com/es/rss/all.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -1056
      ],
      "id": "0ea016ed-b4f0-4036-a129-6f989b938fc4",
      "name": "harpersbazaar"
    },
    {
      "parameters": {
        "url": "https://www.revistagq.com/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -736
      ],
      "id": "507333e2-8702-4e26-8cab-251ef949487b",
      "name": "gq"
    },
    {
      "parameters": {
        "url": "https://www.glamour.es/feed/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -592
      ],
      "id": "ed231404-18fe-48a2-9386-214be0696439",
      "name": "glamour"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "46f24731-0f05-4c05-80fa-215b8d751d28",
      "name": "Dividir en Lotes (20)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "0b2ac439-dfc1-4e78-94c9-cce3d4ae1236",
      "name": "Cada dia 10AM2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew",
          "mode": "list",
          "cachedResultName": "wardaropa ECV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew/edit#gid=0"
        },
        "options": {}
      },
      "id": "f11f4042-a985-4931-83c2-6a074574ce7f",
      "name": "Leer Noticias2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        16,
        -720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYdByuwpHiNH0YRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "filter-nuevas",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "nueva",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8565d15d-3a5c-4964-ae0a-d615cfe34957",
      "name": "Solo Noticias Nuevas2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        256,
        -720
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Construir array de noticias para el prompt\nconst noticias = items.map((item, index) => ({\n  id: index,\n  titulo: item.json.titulo || '',\n  descripcion: item.json.descripcion || ''\n}));\n\nconst prompt = `Eres un editor en jefe y analista experto en la industria global de la moda.\n\nVALORA estas ${noticias.length} noticias del 1 al 10 según su IMPORTANCIA para el sector de la moda a nivel internacional (Alta Costura, Prêt-à-porter, Streetwear y Negocio del Lujo).\n\nCRITERIOS DE PUNTUACIÓN:\n- 10: Impacto masivo en la industria (cambios de directores creativos en casas de lujo como Chanel, Dior, Gucci; adquisiciones corporativas por LVMH/Kering; disrupciones clave en Fashion Weeks de París/Milán/NY/Londres).\n- 7-9: Alta relevancia (colaboraciones muy esperadas entre marcas, desfiles y colecciones destacadas, tendencias de mercado que afectan las ventas globales).\n- 4-6: Relevancia media (nuevas campañas publicitarias, looks de alfombra roja con cierto impacto comercial, aperturas de tiendas bandera).\n- 1-3: Baja relevancia o impacto menor (rumores sobre celebridades sin peso real en el sector, microtendencias pasajeras, eventos de moda estrictamente locales).\n\nNoticias:\n${JSON.stringify(noticias, null, 2)}\n\nResponde SOLO con un JSON array con este formato:\n[\n  {\"id\": 0, \"puntuacion\": <número>},\n  {\"id\": 1, \"puntuacion\": <número>},\n  ...\n]`;\n\n// Retornar UN SOLO item con el prompt y las noticias originales\nreturn [{\n  json: {\n    valoracion_prompt: prompt,\n    noticias_originales: items.map(item => item.json)\n  }\n}];"
      },
      "id": "75b9dd28-e63a-4cea-b532-f8fb8b5f7d16",
      "name": "Preparar Valoracion2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyDlKilN54nNCjzk28swa9PaTgJz89ECPdk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.valoracion_prompt }] }], generationConfig: { temperature: 0.3, topP: 0.9, maxOutputTokens: 20000 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b99da0fc-f392-4188-b6f1-aceb1d041b94",
      "name": "Gemini Valorar2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.first();\nconst preparacionData = $('Preparar Valoracion2').first().json;\nconst noticiasOriginales = preparacionData.noticias_originales || [];\nconst results = [];\n\nlet puntuaciones = [];\n\ntry {\n  const text = geminiResponse.json.candidates[0].content.parts[0].text;\n  const cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  let parsedData = JSON.parse(cleanText);\n  \n  // SOLUCIÓN 1: Si la IA devuelve un solo objeto, lo convertimos en array\n  if (!Array.isArray(parsedData)) {\n    puntuaciones = [parsedData];\n  } else {\n    puntuaciones = parsedData;\n  }\n} catch (e) {\n  // Si falla el parseo general, creamos un array falso para no romper el flujo\n  puntuaciones = [];\n}\n\n// Mapear puntuaciones a noticias originales\nfor (let i = 0; i < noticiasOriginales.length; i++) {\n  const noticia = noticiasOriginales[i];\n  const puntuacionData = puntuaciones.find(p => p.id === i);\n  \n  let puntuacionFinal = 5; // Nota por defecto\n  \n// SOLUCIÓN 2 MEJORADA (Detecta si es número u objeto)\n  if (puntuacionData && puntuacionData.puntuacion !== undefined) {\n      const valorPuntuacion = puntuacionData.puntuacion;\n\n      if (typeof valorPuntuacion === 'object' && valorPuntuacion !== null) {\n          // CASO A: Es un objeto { \"Japón\": 1, \"EEUU\": 4... }\n          const notas = Object.values(valorPuntuacion);\n          if (notas.length > 0) {\n              const notasNumericas = notas.map(n => parseInt(n) || 0);\n              puntuacionFinal = Math.max(...notasNumericas);\n          }\n      } else {\n          // CASO B: Es un número directo (como en tu última captura)\n          puntuacionFinal = parseInt(valorPuntuacion) || 0;\n      }\n  }\n  \n  results.push({\n    json: {\n      enlace: noticia.enlace || '',\n      titulo: noticia.titulo || '',\n      descripcion: noticia.descripcion || '',\n      fuente: noticia.fuente || '',\n      fecha_publicacion: noticia.fecha_publicacion || '',\n      puntuacion: puntuacionFinal,\n      puntuacion_str: String(puntuacionFinal),\n      estado: noticia.estado || 'nueva'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "65b53937-557f-4eba-bb0b-fae255c3901f",
      "name": "Parsear Puntuaciones2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -416
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "4614415b-9f00-41de-8355-9394410a6b93",
      "name": "Juntar Todos los Lotes2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1312,
        -752
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew",
          "mode": "list",
          "cachedResultName": "wardaropa ECV",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c6c9zdeyIIDBerrOSySrZOyHe8vuxhOecVjSiDPQQew/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Noticias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11YjwEn394oFFRX-BAJYJejDwIt1paUyjNKHgJ4XOC_k/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enlace": "={{ $json.enlace }}",
            "estado": "procesada",
            "puntuacion": "={{ $json.puntuacion }}"
          },
          "matchingColumns": [
            "enlace"
          ],
          "schema": [
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enlace",
              "displayName": "enlace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuente",
              "displayName": "fuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_publicacion",
              "displayName": "fecha_publicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_ingesta",
              "displayName": "fecha_ingesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "puntuacion",
              "displayName": "puntuacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dab1a88b-0fc2-4fa9-bc1b-316b05b5856e",
      "name": "Marcar Valoradas2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1808,
        -912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYdByuwpHiNH0YRW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtenemos el array de noticias que está dentro de la propiedad 'data' del primer item\nconst noticias = $input.first().json.data;\n\n// Si no hay noticias, salimos\nif (!noticias || noticias.length === 0) {\n    return [];\n}\n\n// 2. Inicializamos las variables usando la primera noticia del array\nlet ganadora = noticias[0];\nlet maxPuntuacion = noticias[0].puntuacion || 0;\n\n// 3. Iteramos sobre el resto de las noticias dentro de 'data'\nfor (let i = 1; i < noticias.length; i++) {\n    const puntuacion = noticias[i].puntuacion || 0;\n    \n    if (puntuacion > maxPuntuacion) {\n        maxPuntuacion = puntuacion;\n        ganadora = noticias[i];\n    }\n}\n\n// 4. Devolvemos la noticia ganadora con la estructura que n8n espera\nreturn [{ json: ganadora }];"
      },
      "id": "ae5f9a0e-a080-42d4-8706-fffc7192a28f",
      "name": "Seleccionar Ganadora2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -592
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst titulo = item.titulo || '';\nconst descripcion = item.descripcion || '';\n\nconst prompt = `Eres un editor jefe de una revista de moda y redactor experto en SEO.\n\nREESCRIBE esta noticia y devuelve un JSON con estos campos:\n- \"titulo_seo\": título optimizado para SEO (max 70 caracteres), atractivo, con \"gancho\" y palabras clave del sector moda/tendencias\n- \"contenido_seo\": artículo completo reescrito (mínimo 600 palabras), optimizado para SEO con palabras clave naturales, subtítulos H2/H3 en HTML, párrafos cortos y un lenguaje sofisticado, actual y dinámico (estilo Vogue, GQ o Business of Fashion)\n- \"extracto\": resumen de 2 frases para meta descripción (max 160 caracteres)\n- \"palabras_clave\": array de 5-8 palabras clave relevantes del mundo de la moda\n- \"prompt_imagen\": descripción detallada en inglés para generar una imagen fotorrealista relacionada con la noticia (estilo fotografía editorial de alta moda, pasarela o street style, iluminación profesional). IMPORTANTE: No menciones nombres de personas reales ni marcas registradas. Si quieres simular un diseñador, modelo o firma, haz una descripción visual exhaustiva de su estética, estilo de ropa y actitud sin usar nombres propios.\n\nNoticia original:\nTítulo: ${titulo}\nDescripción: ${descripcion}\n\nResponde SOLO con el JSON válido, sin texto adicional.`;\n\nreturn [{\n  json: {\n    ...item,\n    seo_prompt: prompt\n  }\n}];"
      },
      "id": "8453e71f-2399-406d-8677-9226a99721a7",
      "name": "Preparar Prompt SEO2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyDlKilN54nNCjzk28swa9PaTgJz89ECPdk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.seo_prompt }] }], generationConfig: { temperature: 0.7, topP: 0.9, maxOutputTokens: 8190 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "97f13e76-220a-4fb6-8d84-7af635b4eb06",
      "name": "Gemini Generar SEO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n// Asegúrate de que el nombre del nodo anterior coincide con el tuyo\nconst prev = $('Preparar Prompt SEO2').first().json; \nlet aiResponse = {};\n\ntry {\n  const text = item.json.candidates[0].content.parts[0].text;\n  const cleanText = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  aiResponse = JSON.parse(cleanText);\n} catch (e) {\n  // Valores de rescate en caso de que la IA no devuelva un JSON válido\n  aiResponse = {\n    titulo_seo: prev.titulo || 'Sin título',\n    contenido_seo: prev.descripcion || 'Sin contenido',\n    extracto: (prev.descripcion || '').substring(0, 160),\n    palabras_clave: ['moda', 'tendencias', 'lifestyle'],\n    prompt_imagen: 'High-end fashion editorial photography, stylish and modern clothing, elegant lighting, vogue magazine style, photorealistic'\n  };\n}\n\nreturn [{\n  json: {\n    titulo_original: prev.titulo || '',\n    enlace_original: prev.enlace || '',\n    fuente: prev.fuente || '',\n    fecha_publicacion: prev.fecha_publicacion || '',\n    fecha_proceso: new Date().toISOString(),\n    puntuacion: String(prev.puntuacion || '10'),\n    titulo_seo: aiResponse.titulo_seo || '',\n    contenido_seo: aiResponse.contenido_seo || '',\n    extracto: aiResponse.extracto || '',\n    palabras_clave: Array.isArray(aiResponse.palabras_clave) ? aiResponse.palabras_clave.join(', ') : '',\n    prompt_imagen: aiResponse.prompt_imagen || 'High fashion runway or editorial street style photography, elegant, highly detailed'\n  }\n}];"
      },
      "id": "f4bd0654-9275-4b8c-b96a-1113edaaed0a",
      "name": "Parsear Contenido SEO2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -592
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list"
        },
        "prompt": "={{ $json.prompt_imagen }}, photography, realistic, editorial style, high quality, 4k",
        "options": {
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "id": "d37c073f-9f3f-49a0-9370-dc4e701fd230",
      "name": "Generar Imagen2",
      "position": [
        2176,
        -592
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "8Nn1qv2Z3yVtQD0P",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1584,
        -864
      ],
      "id": "f384d88f-24a4-43ca-a45c-a674d541fd78",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2416,
        -592
      ],
      "id": "7b95d943-9fe5-4b62-bab3-ca24d5b0bc65",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "noticias",
          "mode": "list",
          "cachedResultName": "noticias"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fuente",
              "value": "n8n"
            },
            {
              "column": "imagen",
              "value": "={{ $json.data }}"
            },
            {
              "column": "titulo",
              "value": "={{ $('Parsear Contenido SEO2').item.json.titulo_seo }}"
            },
            {
              "column": "texto",
              "value": "={{ $('Parsear Contenido SEO2').item.json.contenido_seo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2624,
        -592
      ],
      "id": "3a71a900-5167-4f37-9016-1e682649e074",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "df6V8NeUP9xusHY9",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "Cada dia 8AM1": {
      "main": [
        [
          {
            "node": "elle",
            "type": "main",
            "index": 0
          },
          {
            "node": "harpersbazaar",
            "type": "main",
            "index": 0
          },
          {
            "node": "vogue",
            "type": "main",
            "index": 0
          },
          {
            "node": "gq",
            "type": "main",
            "index": 0
          },
          {
            "node": "glamour",
            "type": "main",
            "index": 0
          },
          {
            "node": "yahoo finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar y Deduplicar1": {
      "main": [
        [
          {
            "node": "Guardar en Noticias1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yahoo finance": {
      "main": [
        [
          {
            "node": "Normalizar y Deduplicar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vogue": {
      "main": [
        [
          {
            "node": "Normalizar y Deduplicar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "elle": {
      "main": [
        [
          {
            "node": "Normalizar y Deduplicar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "harpersbazaar": {
      "main": [
        [
          {
            "node": "Normalizar y Deduplicar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gq": {
      "main": [
        [
          {
            "node": "Normalizar y Deduplicar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "glamour": {
      "main": [
        [
          {
            "node": "Normalizar y Deduplicar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir en Lotes (20)": {
      "main": [
        [
          {
            "node": "Juntar Todos los Lotes2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Valoracion2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada dia 10AM2": {
      "main": [
        [
          {
            "node": "Leer Noticias2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Noticias2": {
      "main": [
        [
          {
            "node": "Solo Noticias Nuevas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solo Noticias Nuevas2": {
      "main": [
        [
          {
            "node": "Dividir en Lotes (20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Valoracion2": {
      "main": [
        [
          {
            "node": "Gemini Valorar2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Valorar2": {
      "main": [
        [
          {
            "node": "Parsear Puntuaciones2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Puntuaciones2": {
      "main": [
        [
          {
            "node": "Dividir en Lotes (20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Juntar Todos los Lotes2": {
      "main": [
        [
          {
            "node": "Seleccionar Ganadora2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar Ganadora2": {
      "main": [
        [
          {
            "node": "Preparar Prompt SEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt SEO2": {
      "main": [
        [
          {
            "node": "Gemini Generar SEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generar SEO2": {
      "main": [
        [
          {
            "node": "Parsear Contenido SEO2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Contenido SEO2": {
      "main": [
        [
          {
            "node": "Generar Imagen2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Imagen2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Marcar Valoradas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2d976ac820a993756afa7a65a73c4005d7455fac46d1ab6b9794f31dd00df0b"
  }
}