n8n_nodes_IA/wardaropa_Scrap_and_post.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "2896ac5a-88f9-4b56-868c-87448e182f2d",
      "name": "Cada dia 8AM1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1392,
        -928
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.enlacesProcesados) {\n  staticData.enlacesProcesados = [];\n}\n\nconst seenInExecution = new Set();\n\nfor (const item of items) {\n  const title = (item.json.title || '').trim();\n  const link = (item.json.link || '').trim();\n  const key = link || title;\n\n  if (!key) continue;\n\n  if (staticData.enlacesProcesados.includes(key) || seenInExecution.has(key)) {\n    continue;\n  }\n\n  seenInExecution.add(key);\n  staticData.enlacesProcesados.push(key);\n\n  results.push({\n    json: {\n      titulo: title,\n      enlace: link,\n      descripcion: (item.json.contentSnippet || item.json.description || '').substring(0, 500),\n      fuente: item.json.creator || item.json['dc:creator'] || 'Desconocido',\n      fecha_publicacion: item.json.pubDate || item.json.isoDate || new Date().toISOString(),\n      fecha_ingesta: new Date().toISOString(),\n      estado: 'nueva',\n      puntuacion: ''\n    }\n  });\n}\n\nif (staticData.enlacesProcesados.length > 3000) {\n  staticData.enlacesProcesados = staticData.enlacesProcesados.slice(-3000);\n}\n\nreturn results;"
      },
      "id": "e857a032-ffb6-435f-a6fc-6ed93a67f21a",
      "name": "Normalizar y Deduplicar1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -1008
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_DOCUMENT_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "titulo": "={{ $json.titulo }}",
            "enlace": "={{ $json.enlace }}",
            "descripcion": "={{ $json.descripcion }}",
            "fuente": "={{ $json.fuente }}",
            "fecha_publicacion": "={{ $json.fecha_publicacion }}",
            "fecha_ingesta": "={{ $json.fecha_ingesta }}",
            "estado": "={{ $json.estado }}",
            "puntuacion": "={{ $json.puntuacion }}"
          }
        }
      },
      "id": "d5a72008-2243-4a72-80f8-7a1d151feeaa",
      "name": "Guardar en Noticias1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        80,
        -1008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://hypebeast.com/feed"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -432
      ],
      "id": "2679f903-9256-4057-878c-3ee985ea36d5",
      "name": "yahoo finance"
    },
    {
      "parameters": {
        "url": "https://www.vogue.es/feed/rss"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -896
      ],
      "id": "aaa3d73c-1b68-4aff-aeaf-7487422611e4",
      "name": "vogue"
    },
    {
      "parameters": {
        "url": "https://www.elle.com/es/rss/all.xml"
      },
      "id": "02c698a0-8754-43cd-9076-9a1ad564ed04",
      "name": "elle",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -672,
        -1184
      ]
    },
    {
      "parameters": {
        "url": "https://www.harpersbazaar.com/es/rss/all.xml"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -1056
      ],
      "id": "0ea016ed-b4f0-4036-a129-6f989b938fc4",
      "name": "harpersbazaar"
    },
    {
      "parameters": {
        "url": "https://www.revistagq.com/feed/rss"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -736
      ],
      "id": "507333e2-8702-4e26-8cab-251ef949487b",
      "name": "gq"
    },
    {
      "parameters": {
        "url": "https://www.glamour.es/feed/rss"
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -672,
        -592
      ],
      "id": "ed231404-18fe-48a2-9386-214be0696439",
      "name": "glamour"
    },
    {
      "parameters": {
        "batchSize": 50
      },
      "id": "46f24731-0f05-4c05-80fa-215b8d751d28",
      "name": "Dividir en Lotes (20)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        -720
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "0b2ac439-dfc1-4e78-94c9-cce3d4ae1236",
      "name": "Cada dia 10AM2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -720
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REDACTED_DOCUMENT_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        }
      },
      "id": "f11f4042-a985-4931-83c2-6a074574ce7f",
      "name": "Leer Noticias2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        16,
        -720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "filter-nuevas",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "nueva",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "8565d15d-3a5c-4964-ae0a-d615cfe34957",
      "name": "Solo Noticias Nuevas2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        256,
        -720
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst noticias = items.map((item, index) => ({\n  id: index,\n  titulo: item.json.titulo || '',\n  descripcion: item.json.descripcion || ''\n}));\n\nconst prompt = `Eres un editor en jefe y analista experto en la industria global de la moda...`;\n\nreturn [{\n  json: {\n    valoracion_prompt: prompt,\n    noticias_originales: items.map(item => item.json)\n  }\n}];"
      },
      "id": "75b9dd28-e63a-4cea-b532-f8fb8b5f7d16",
      "name": "Preparar Valoracion2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -464
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=REDACTED_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.valoracion_prompt }] }], generationConfig: { temperature: 0.3, topP: 0.9, maxOutputTokens: 20000 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b99da0fc-f392-4188-b6f1-aceb1d041b94",
      "name": "Gemini Valorar2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        -496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Código de parseo de puntuaciones mantenido..."
      },
      "id": "65b53937-557f-4eba-bb0b-fae255c3901f",
      "name": "Parsear Puntuaciones2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -416
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData"
      },
      "id": "4614415b-9f00-41de-8355-9394410a6b93",
      "name": "Juntar Todos los Lotes2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1312,
        -752
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REDACTED_DOCUMENT_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "enlace": "={{ $json.enlace }}",
            "estado": "procesada",
            "puntuacion": "={{ $json.puntuacion }}"
          },
          "matchingColumns": [
            "enlace"
          ]
        }
      },
      "id": "dab1a88b-0fc2-4fa9-bc1b-316b05b5856e",
      "name": "Marcar Valoradas2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1808,
        -912
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lógica de selección de ganadora mantenida..."
      },
      "id": "ae5f9a0e-a080-42d4-8706-fffc7192a28f",
      "name": "Seleccionar Ganadora2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -592
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lógica de preparación de prompt SEO mantenida..."
      },
      "id": "8453e71f-2399-406d-8677-9226a99721a7",
      "name": "Preparar Prompt SEO2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=REDACTED_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: $json.seo_prompt }] }], generationConfig: { temperature: 0.7, topP: 0.9, maxOutputTokens: 8190 } }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "97f13e76-220a-4fb6-8d84-7af635b4eb06",
      "name": "Gemini Generar SEO2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lógica de parseo de contenido SEO mantenida..."
      },
      "id": "f4bd0654-9275-4b8c-b96a-1113edaaed0a",
      "name": "Parsear Contenido SEO2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -592
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-image",
          "mode": "list"
        },
        "prompt": "={{ $json.prompt_imagen }}, photography, realistic, editorial style, high quality, 4k",
        "options": {
          "binaryPropertyOutput": "data"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "id": "d37c073f-9f3f-49a0-9370-dc4e701fd230",
      "name": "Generar Imagen2",
      "position": [
        2176,
        -592
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data"
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1584,
        -864
      ],
      "id": "f384d88f-24a4-43ca-a45c-a744d541fd78",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "operation": "binaryToPropery"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2416,
        -592
      ],
      "id": "7b95d943-9fe5-4b62-bab3-ca24d5b0bc65",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "noticias",
          "mode": "list"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "fuente",
              "value": "n8n"
            },
            {
              "column": "imagen",
              "value": "={{ $json.data }}"
            },
            {
              "column": "titulo",
              "value": "={{ $('Parsear Contenido SEO2').item.json.titulo_seo }}"
            },
            {
              "column": "texto",
              "value": "={{ $('Parsear Contenido SEO2').item.json.contenido_seo }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        2624,
        -592
      ],
      "id": "3a71a900-5167-4f37-9016-1e682649e074",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "Cada dia 8AM1": {
      "main": [
        [
          { "node": "elle", "type": "main", "index": 0 },
          { "node": "harpersbazaar", "type": "main", "index": 0 },
          { "node": "vogue", "type": "main", "index": 0 },
          { "node": "gq", "type": "main", "index": 0 },
          { "node": "glamour", "type": "main", "index": 0 },
          { "node": "yahoo finance", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalizar y Deduplicar1": {
      "main": [
        [{ "node": "Guardar en Noticias1", "type": "main", "index": 0 }]
      ]
    },
    "yahoo finance": { "main": [[{ "node": "Normalizar y Deduplicar1", "type": "main", "index": 0 }]] },
    "vogue": { "main": [[{ "node": "Normalizar y Deduplicar1", "type": "main", "index": 0 }]] },
    "elle": { "main": [[{ "node": "Normalizar y Deduplicar1", "type": "main", "index": 0 }]] },
    "harpersbazaar": { "main": [[{ "node": "Normalizar y Deduplicar1", "type": "main", "index": 0 }]] },
    "gq": { "main": [[{ "node": "Normalizar y Deduplicar1", "type": "main", "index": 0 }]] },
    "glamour": { "main": [[{ "node": "Normalizar y Deduplicar1", "type": "main", "index": 0 }]] },
    "Dividir en Lotes (20)": {
      "main": [
        [{ "node": "Juntar Todos los Lotes2", "type": "main", "index": 0 }],
        [{ "node": "Preparar Valoracion2", "type": "main", "index": 0 }]
      ]
    },
    "Cada dia 10AM2": { "main": [[{ "node": "Leer Noticias2", "type": "main", "index": 0 }]] },
    "Leer Noticias2": { "main": [[{ "node": "Solo Noticias Nuevas2", "type": "main", "index": 0 }]] },
    "Solo Noticias Nuevas2": { "main": [[{ "node": "Dividir en Lotes (20)", "type": "main", "index": 0 }]] },
    "Preparar Valoracion2": { "main": [[{ "node": "Gemini Valorar2", "type": "main", "index": 0 }]] },
    "Gemini Valorar2": { "main": [[{ "node": "Parsear Puntuaciones2", "type": "main", "index": 0 }]] },
    "Parsear Puntuaciones2": { "main": [[{ "node": "Dividir en Lotes (20)", "type": "main", "index": 0 }]] },
    "Juntar Todos los Lotes2": {
      "main": [
        [{ "node": "Seleccionar Ganadora2", "type": "main", "index": 0 }],
        [{ "node": "Split Out2", "type": "main", "index": 0 }]
      ]
    },
    "Seleccionar Ganadora2": { "main": [[{ "node": "Preparar Prompt SEO2", "type": "main", "index": 0 }]] },
    "Preparar Prompt SEO2": { "main": [[{ "node": "Gemini Generar SEO2", "type": "main", "index": 0 }]] },
    "Gemini Generar SEO2": { "main": [[{ "node": "Parsear Contenido SEO2", "type": "main", "index": 0 }]] },
    "Parsear Contenido SEO2": { "main": [[{ "node": "Generar Imagen2", "type": "main", "index": 0 }]] },
    "Generar Imagen2": { "main": [[{ "node": "Extract from File", "type": "main", "index": 0 }]] },
    "Split Out2": { "main": [[{ "node": "Marcar Valoradas2", "type": "main", "index": 0 }]] },
    "Extract from File": { "main": [[{ "node": "Insert rows in a table", "type": "main", "index": 0 }]] }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}